In [11]:
import pandas as pd
from sdv import SDV
from sdv import Metadata
from sdv.tabular import GaussianCopula

In [20]:
nhan_df = pd.read_csv('NHANES_Data.csv')

In [22]:
nhan_df

,Measured_Diabetes_A1c,Measured_Diabetes_x2,Measured_Diabetes,Dr_Diabetes_Binary,Dr_Diabetes,Pre_Dia,SEQN,Gender,Age,Race,...,Weight_kg,Height_cm,BMI,Len_Leg,Len_Arm,Waist,Fasting_Glucose,A1c,Health_Insurance,Private_Insurance
0,NO,NO,YES,NO,2,2,83733,1,53,3,...,90.4,171.4,30.8,38.0,40.0,107.9,101,5.5,2,0
1,YES,NO,NO,YES,1,0,83734,1,78,3,...,83.4,170.1,28.8,35.6,37.0,116.5,84,5.8,1,14
2,YES,YES,YES,NO,2,2,83737,2,72,1,...,64.4,150.0,28.6,34.4,33.5,92.9,107,5.9,2,0
3,NO,NO,NO,NO,2,2,83741,1,22,4,...,76.6,165.4,28.0,38.8,38.0,86.6,95,5.6,2,0
4,NO,NO,NO,NO,2,2,83750,1,45,7,...,76.2,177.8,24.1,43.9,37.8,90.1,84,5.5,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3928,YES,NO,NO,YES,2,1,102947,1,75,4,...,73.2,170.4,25.2,42.0,41.0,94.0,85,5.8,1,14
3929,NO,NO,NO,NO,2,2,102948,2,31,3,...,52.9,162.0,20.2,38.3,35.3,69.7,92,5.2,1,14
3930,YES,YES,YES,YES,3,0,102952,2,70,6,...,49.0,156.5,20.0,34.4,32.6,82.2,158,7.4,1,14
3931,NO,NO,NO,NO,2,2,102954,2,41,4,...,69.1,162.6,26.1,39.2,35.2,86.4,94,5.2,1,0
3932,NO,NO,NO,NO,2,2,102956,1,38,3,...,111.5,175.8,36.1,42.5,38.0,122.0,91,5.4,1,0

In [8]:
metadata = Metadata()
metadata.add_table(
name ='NHANES',
data=nhan_df,
primary_key = 'SEQN')

In [43]:
model = GaussianCopula(
primary_key = 'SEQN',

field_distributions = {
  'Pre_Dia' :'bounded'  
  }
)
model.fit(nhan_df)

C:\Users\Public\anaconda\lib\site-packages\scipy\stats\_continuous_distns.py:621: RuntimeWarning: invalid value encountered in sqrt
  sk = 2*(b-a)*np.sqrt(a + b + 1) / (a + b + 2) / np.sqrt(a*b)
C:\Users\Public\anaconda\lib\site-packages\scipy\optimize\minpack.py:175: RuntimeWarning: The iteration is not making good progress, as measured by the
  improvement from the last ten iterations.
  warnings.warn(msg, RuntimeWarning)
C:\Users\Public\anaconda\lib\site-packages\scipy\stats\_continuous_distns.py:4963: RuntimeWarning: divide by zero encountered in true_divide
  return c**2 / (c**2 - n**2)
C:\Users\Public\anaconda\lib\site-packages\scipy\stats\_distn_infrastructure.py:2429: RuntimeWarning: invalid value encountered in double_scalars
  Lhat = muhat - Shat*mu
C:\Users\Public\anaconda\lib\site-packages\copulas\univariate\truncated_gaussian.py:43: RuntimeWarning: invalid value encountered in double_scalars
  a = (self.min - loc) / scale
C:\Users\Public\anaconda\lib\site-packages\copulas\univariate\truncated_gaussian.py:44: RuntimeWarning: divide by zero encountered in double_scalars
  b = (self.max - loc) / scale
C:\Users\Public\anaconda\lib\site-packages\scipy\stats\_continuous_distns.py:4954: RuntimeWarning: divide by zero encountered in power
  return cd2*x**(c-1)
C:\Users\Public\anaconda\lib\site-packages\scipy\optimize\minpack.py:175: RuntimeWarning: The iteration is not making good progress, as measured by the
  improvement from the last five Jacobian evaluations.
  warnings.warn(msg, RuntimeWarning)

In [44]:
new_data = model.sample(200)

In [18]:
distribut = model.get_distributions()

In [19]:
distribut

{'Measured_Diabetes_A1c': 'copulas.univariate.gaussian.GaussianUnivariate',
 'Measured_Diabetes_x2': 'copulas.univariate.gaussian.GaussianUnivariate',
 'Measured_Diabetes': 'copulas.univariate.gaussian.GaussianUnivariate',
 'Dr_Diabetes_Binary': 'copulas.univariate.gaussian.GaussianUnivariate',
 'Dr_Diabetes': 'copulas.univariate.gaussian.GaussianUnivariate',
 'Pre_Dia': 'copulas.univariate.student_t.StudentTUnivariate',
 'SEQN': 'copulas.univariate.uniform.UniformUnivariate',
 'Gender': 'copulas.univariate.student_t.StudentTUnivariate',
 'Age': 'copulas.univariate.truncated_gaussian.TruncatedGaussian',
 'Race': 'copulas.univariate.truncated_gaussian.TruncatedGaussian',
 'Birth_Country': 'copulas.univariate.student_t.StudentTUnivariate',
 'Citizenship': 'copulas.univariate.log_laplace.LogLaplace',
 'Edu_Adult': 'copulas.univariate.student_t.StudentTUnivariate',
 'Marital_Status': 'copulas.univariate.student_t.StudentTUnivariate',
 'HH_Numb': 'copulas.univariate.truncated_gaussian.TruncatedGaussian',
 'AHH_Income': 'copulas.univariate.gamma.GammaUnivariate',
 'FAM_Income': 'copulas.univariate.log_laplace.LogLaplace',
 'FAM_Income_Poverty_Ratio': 'copulas.univariate.gamma.GammaUnivariate',
 'Weight_kg': 'copulas.univariate.gamma.GammaUnivariate',
 'Height_cm': 'copulas.univariate.truncated_gaussian.TruncatedGaussian',
 'BMI': 'copulas.univariate.gamma.GammaUnivariate',
 'Len_Leg': 'copulas.univariate.gamma.GammaUnivariate',
 'Len_Arm': 'copulas.univariate.gaussian.GaussianUnivariate',
 'Waist': 'copulas.univariate.gamma.GammaUnivariate',
 'Fasting_Glucose': 'copulas.univariate.log_laplace.LogLaplace',
 'A1c': 'copulas.univariate.student_t.StudentTUnivariate',
 'Health_Insurance': 'copulas.univariate.student_t.StudentTUnivariate',
 'Private_Insurance': 'copulas.univariate.gamma.GammaUnivariate'}

In [39]:
new_data

,Measured_Diabetes_A1c,Measured_Diabetes_x2,Measured_Diabetes,Dr_Diabetes_Binary,Dr_Diabetes,Pre_Dia,SEQN,Gender,Age,Race,...,Weight_kg,Height_cm,BMI,Len_Leg,Len_Arm,Waist,Fasting_Glucose,A1c,Health_Insurance,Private_Insurance
0,NO,YES,YES,YES,2,1,0,2,62,1,...,59.577955,157.908422,23.768949,32.717711,34.154988,87.306213,110,5.755441,1,5
1,YES,NO,NO,NO,2,1,1,2,46,2,...,90.139180,146.832867,43.158302,31.694753,34.034524,122.221403,102,5.729265,1,8
2,YES,YES,YES,NO,2,2,2,2,55,4,...,57.263730,167.696319,20.743164,37.674960,36.742628,80.581230,97,5.542547,1,10
3,NO,NO,NO,NO,2,1,3,2,39,6,...,69.823818,159.455249,27.380967,37.486346,33.761885,83.944682,95,5.081259,1,7
4,YES,NO,YES,YES,2,1,4,1,59,3,...,92.639331,175.398666,30.528889,41.121198,40.455667,101.181857,113,5.439271,1,10
5,NO,NO,YES,NO,2,2,5,2,76,3,...,79.765707,174.070687,25.297963,39.891937,42.060055,92.334942,121,5.965606,1,4
6,YES,YES,YES,YES,1,0,6,2,76,1,...,112.050655,166.177548,40.992049,38.102053,38.485838,138.525472,141,7.014140,1,4
7,NO,NO,NO,NO,2,2,7,2,60,5,...,71.603196,170.822816,24.373290,42.085612,39.543246,89.481003,82,5.196953,1,5
8,NO,NO,NO,NO,3,3,8,2,53,2,...,57.133791,161.446951,22.212486,38.944500,35.111443,72.230881,76,4.429213,1,13
9,YES,YES,YES,NO,2,1,9,2,54,4,...,87.066771,161.691787,33.436083,35.716951,37.495686,102.745660,111,5.900286,1,7
10,NO,NO,NO,NO,2,2,10,2,37,1,...,89.698928,163.236930,33.970802,39.039644,35.436753,100.747342,88,1.982949,1,15
11,YES,YES,YES,YES,2,1,11,2,76,5,...,69.417647,168.601030,24.509668,42.301894,36.624884,85.531403,120,5.769065,1,9
12,YES,YES,YES,NO,2,2,12,2,64,5,...,81.938764,173.489874,27.171217,40.568253,38.336691,106.357809,109,5.608555,1,1
13,YES,NO,YES,NO,2,1,13,1,50,3,...,71.102629,154.321081,30.065010,37.217466,36.559618,101.597537,101,5.624771,1,8
14,NO,NO,NO,YES,2,1,14,2,62,4,...,79.255809,177.631980,24.898510,39.396327,38.196859,98.294336,87,5.110289,1,14
15,YES,YES,YES,NO,2,1,15,2,64,3,...,74.502580,161.387625,28.375424,37.687916,36.717199,94.798213,111,6.089204,1,-4
16,NO,NO,YES,NO,2,1,16,1,25,4,...,62.114026,163.294040,22.941012,39.349644,35.925163,88.352108,105,5.428395,1,-8
17,NO,YES,YES,YES,2,1,17,1,40,3,...,83.569811,176.511084,26.487319,43.426332,39.544812,94.157592,106,5.792747,1,8
18,YES,NO,NO,NO,2,2,18,1,43,2,...,94.178429,170.907659,32.576327,40.132166,34.415088,94.971923,84,5.433793,1,-8
19,YES,YES,YES,YES,2,0,19,3,34,4,...,82.666926,148.526547,36.960484,28.756837,34.313534,103.486842,115,5.333677,1,7

In [45]:
new_data.Pre_Dia.value_counts()

1    102
2     78
0     20
Name: Pre_Dia, dtype: int64

In [36]:
nhan_df.Pre_Dia.value_counts()

2    2811
0     722
1     400
Name: Pre_Dia, dtype: int64